<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit Role</title>
  </head>
  <body>
    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row">
            <app-nav [comp] = "comp"></app-nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Edit Role {{role.name}} </h1>
                </div>

                <div >
                    <form class="form-horizontal" #editRoleForm="ngForm" (submit)="updateRole()">
                        <div class="mt-4 col-8 offset-2">

                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" readonly  [(ngModel)]="role.name" #name="ngModel" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-2 col-form-label">Description :</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="description"  [(ngModel)]="role.description" #description="ngModel" >
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                    <div class="offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-sm btn-success" style="margin-right: 2px;" [disabled]="!editRoleForm.form.valid">SAVE</button>
                                            <button type="button" class="btn btn-sm btn-info" routerLink="/roles">CANCEL</button>
                                            <div style="margin-top: 10px;"></div>
                                            <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>

            </main>

        </div>
    </div>
</body>
</html>
