<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>edit entreprise statut</title>

  </head>
  <body>
    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row">
            <app-nav [comp] = "comp"></app-nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Edit {{entreprise.name}}'s statut: </h1>
                </div>

                <div >
                    <form class="form-horizontal" #editentrepriseForm="ngForm" (submit)="updateEntreprise()">
                        <div class="mt-4 col-8 offset-2">

                            <div class="form-group row">
                                <label for="statut" class="col-sm-2 col-form-label">Statut :</label>
                                <div class="col-sm-10">
                                    <select id="statut" class="form-control" name="statut" required [(ngModel)]="entreprise.statut" #statut="ngModel">
                                        <option *ngFor="let S of status" value="{{S.statut}}" [selected]="S.statut === entreprise.statut">{{S.statut}}</option>
                                    </select>
                                    <div *ngIf="statut.errors && (statut.dirty || statut.touched)" class="alert alert-danger">
                                        <div [hidden]="!statut.errors.required">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Status is required !
                                    </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                    <div class="offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-sm btn-success" style="margin-right: 2px;" [disabled]="!editentrepriseForm.form.valid">UPDATE</button>
                                            <button type="button" class="btn btn-sm btn-info" routerLink="/entreprises">CANCEL</button>
                                            <div style="margin-top: 10px;"></div>
                                            <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>

            </main>

        </div>
    </div>
</body>
</html>
