<nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark p-0 shadow">
    <!-- Brand -->
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" [routerLink]="['/dashboard']">
      <img class="pic-1" src="assets/images/logo.png" width="200px" height="45px">
    </a>
  
    <ul class="navbar-nav ml-auto" style="margin-right: 20px;">
      <!-- Dropdown -->
      <li class="nav-item dropdown" *ngIf="!isAppManager()">
        <a class="nav-link clickable white-text"  (click)="onLogin()">Login</a>
      </li>
  
      <li class="nav-item dropdown" *ngIf="isAppManager()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
          href="/sso/login"
          >{{ userInformations.name }}</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
          <a class="dropdown-item" (click)="ManagedAccount()">Manage account</a>
        </div>
      </li>
    </ul>
  </nav>