<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <br><br><br>
          <a class="nav-link" id="dashboard" [routerLink]="['/dashboard']">
            Dashboard
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" id="entreprises" [routerLink]="['/entreprises']">
            Entreprises
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="roles" [routerLink]="['/roles']">
            Roles
          </a>
        </li>
      </ul>
    </div>
</nav>
  