<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Entreprises</title>
  </head>
  <body>

    <app-navbar></app-navbar>
    
    <div class="container-fluid">
    
        <div class="row">
            <app-nav [comp] = "comp"></app-nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Entreprises</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: small;" routerLink="/">Add</button>
                </div>  
                </div>
            </div>

            <div class="alert alert-danger" style="margin-top: 50px;" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

            <div *ngIf="entreprises">
                <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
                <div class="alert alert-success" role="alert" *ngFor="let E of entreprises" style="height: 130px;">
                        <div>
                            <div class="pull-right">
                                <button class="btn btn-sm btn-success" routerLink="">Details</button>
                                <button class="btn btn-sm btn-primary" style="margin: 2px;" routerLink="/edit-entreprise-statut/{{E.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-danger" (click)="deleteEntreprise(E.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div> 
                            <div>
                                <strong>Name:</strong> {{E.name}} <br>
                                <strong>Email:</strong> {{E.email}} <br>
                                <strong>Phone:</strong> {{E.phone}} <br>
                                <strong>Country:</strong> {{E.pays}} <br>
                                <strong>Statut:</strong> {{E.statut}} <br>

                            </div>
                            
                        </div>
                </div>
            </div>     
            </main>

        </div>
    </div>
</body>
</html>



